@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?6t2tt5');
  src:  url('icomoon.eot?6t2tt5#iefix') format('embedded-opentype'),
    url('icomoon.ttf?6t2tt5') format('truetype'),
    url('icomoon.woff?6t2tt5') format('woff'),
    url('icomoon.svg?6t2tt5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter-square:before {
  content: "\e900";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
