body {
  margin: 0;
  font-family: poppins;
  font-size: 18px;
  background-color: #f6f9fe;
}

figure, h2, h4, p, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #59577f;
  text-transform: capitalize;
}

a:hover {
  transform: translateY(-2px);
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 60px 65px 0 40px;
}
header .logo {
  padding: 14px 40px;
}
header .logo img {
  width: 255px;
}

.btn {
  margin: 15px;
  padding: 12px 65px;
  font-size: 15px;
  background-color: #ffffff;
}

.background {
  position: absolute;
  top: -640px;
  right: -860px;
  z-index: -1;
  height: 1555px;
  width: 1555px;
  border-radius: 100px;
  background: linear-gradient(0deg, #b14ef6 45%, #f452c9 100%);
  transform: rotate(-39deg);
  overflow: hidden;
}

.billboard {
  position: relative;
  margin: 100px 310px;
  text-align: center;
}
.billboard figure {
  padding: 2px;
}

.billboard-discription {
  margin: 55px 0;
}
.billboard-discription h2 {
  font-size: 32px;
  margin-left: -12px;
  text-transform: capitalize;
}
.billboard-discription p {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 1.5;
  padding: 0 30px;
  color: #808D99;
  margin: 22px 0;
}

.billboard-bg {
  position: absolute;
  top: 5px;
  left: -145px;
  z-index: -2;
  background-color: #ffffff;
  transform: rotate(61deg);
  height: 1200px;
  width: 920px;
  border-radius: 110px;
}

.pink-btn {
  font-size: 15px;
  padding: 18px 65px;
  background-color: #fe52c0;
  color: #ffffff;
  text-transform: capitalize;
  box-shadow: 0 0 5px #fe52c0;
  border-radius: 5px;
}

.main-content {
  display: flex;
  width: 85%;
  margin: 540px auto 190px;
}
.main-content figure {
  width: 45%;
  padding-top: 25px;
  padding-left: 28px;
}
.main-content .detials {
  width: 515px;
  margin-left: 115px;
}
.main-content .discription {
  margin-bottom: 45px;
}
.main-content .discription h2 {
  text-transform: capitalize;
  letter-spacing: 0.4px;
  margin-bottom: 12px;
}
.main-content .discription p {
  font-family: "Open Sans", sans-serif;
}

.trial-section {
  width: 800px;
  text-align: center;
  padding: 80px 0 130px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 50px #e8e8f2;
}
.trial-section h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
}
.trial-section p {
  font-size: 20px;
  margin: 12px 0 62px;
}

footer, footer a {
  color: #F7F9FD;
}

footer {
  padding: 0 50px 200px;
  margin-top: 260px;
  background-color: #00252e;
}

.footer-logo, .social {
  padding-left: 55px;
}

.footer-logo {
  padding-left: 55px;
  padding-top: 84px;
  width: 240px;
}

.footer-content {
  margin-top: 32px;
  justify-content: space-between;
}

.social-icon, .footer-content, .quick-links {
  display: flex;
}

.social {
  width: 400px;
}
.social p {
  font-size: 16px;
}

.social-icon {
  width: 145px;
  font-size: 35px;
  margin-bottom: 28px;
}
.social-icon a {
  margin-right: 22px;
}

.quick-links, .newsletter {
  font-family: "Open Sans", sans-serif;
}

.quick-links {
  flex-wrap: wrap;
  margin-left: 100px;
  height: 130px;
  width: 450px;
}
.quick-links li {
  width: 50%;
  font-size: 15px;
}

.newsletter {
  width: 325px;
}
.newsletter h4 {
  text-transform: uppercase;
}
.newsletter p {
  font-size: 14px;
  margin: 15px 0;
}
.newsletter input {
  width: 98%;
  height: 42px;
  border-radius: 10px;
}
.newsletter a {
  display: block;
  width: 75px;
  margin-left: auto;
  margin-top: 15px;
  padding: 14px 42px;
}

@media (max-width: 900px) {
  header {
    padding: 25px 15px 0 15px;
  }
  header .logo {
    padding: 0;
  }
  header .logo img {
    width: 120px;
  }
  header .btn {
    margin: 0;
    padding: 5px 25px;
    font-size: 10px;
  }

  .background {
    top: -140px;
    right: -350px;
    height: 510px;
    width: 500px;
    border-radius: 60px;
    transform: rotate(-32deg);
  }

  .billboard {
    margin: 80px 30px;
  }
  .billboard figure {
    padding: 2px 6px;
  }

  .billboard-discription {
    margin: 28px 0 0 0;
  }
  .billboard-discription h2 {
    font-size: 25px;
  }
  .billboard-discription p {
    font-size: 15px;
    padding: 0 4px;
    margin: 12px 0 30px 0;
  }

  .pink-btn {
    font-size: 12px;
    padding: 12px 40px;
    border-radius: 2px;
  }

  .billboard-bg {
    top: 120px;
    left: -15px;
    height: 445px;
    width: 445px;
    border-radius: 20px;
  }

  .main-content {
    flex-wrap: wrap;
    margin-top: 235px;
    margin-bottom: 70px;
  }
  .main-content figure {
    width: auto;
    padding: 0px 6px;
  }
  .main-content .detials {
    text-align: center;
    width: auto;
    margin-top: 115px;
    margin-left: 0;
  }
  .main-content .detials h2 {
    margin-bottom: 15px;
    font-size: 19px;
  }
  .main-content .detials p {
    font-size: 13px;
  }
  .main-content .detials .discription {
    margin-bottom: 36px;
  }

  .trial-section {
    width: 320px;
    padding: 34px 0 30px 0;
  }
  .trial-section h2 {
    font-size: 14px;
  }
  .trial-section p {
    font-size: 10px;
    margin: 7px 0 15px;
  }
  .trial-section a {
    padding: 8px 40px;
    font-size: 10px;
  }

  footer {
    margin-top: 100px;
    padding: 0 20px 20px;
  }

  .footer-logo {
    padding-top: 74px;
    padding-left: 82px;
    width: 170px;
  }

  .footer-content {
    flex-wrap: wrap;
    margin-top: 35px;
    margin-left: 5px;
  }

  .social {
    order: 1;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .social p {
    font-size: 12px;
  }

  .social-icon {
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: auto;
    margin-top: 98px;
    margin-bottom: 20px;
  }

  .quick-links {
    height: 260px;
    margin: 40px 0 52px 5px;
  }
  .quick-links li {
    width: 55%;
    font-size: 18px;
  }
  .quick-links li:nth-of-type(1) {
    order: 1;
  }
  .quick-links li:nth-of-type(2) {
    order: 4;
  }
  .quick-links li:nth-of-type(3) {
    order: 2;
  }
  .quick-links li:nth-of-type(4) {
    order: 5;
  }
  .quick-links li:nth-of-type(5) {
    order: 3;
  }
  .quick-links li:nth-of-type(6) {
    order: 6;
  }

  .newsletter {
    text-align: center;
  }
  .newsletter h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .newsletter p {
    line-height: 1.5;
  }
  .newsletter input {
    border-radius: 0;
  }
  .newsletter a {
    width: auto;
    margin-top: 17px;
    padding: 16px 24px;
  }
}

/*# sourceMappingURL=style.css.map */
