body{
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  background-color: #f6f9fe;
}
figure, h2, p, ul, li{
  padding: 0;
  margin: 0;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
  color: #59577f;
}
//header starts
header{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 60px 65px 0 40px;
  .logo{
    padding: 14px 40px;
    figure{
      width: 255px;
    }
  }
}  .btn{
     margin: 15px;
     padding: 12px 65px;
     font-size: 15px;
     background-color: #ffffff;
     height: max-content;
   }
//header ends

.background{
  position: absolute;
  top: -640px;
  right: -860px;
  z-index: -1;
  height: 1555px;
  width: 1555px;
  border-radius: 100px;
  background: linear-gradient(0deg, #b14ef6 45%, #f452c9 100%);
  transform: rotate(-39deg);
  overflow: hidden;
}
//main starts
main{
}
.billboard{
  position: relative;
  margin: 100px 310px ;
  text-align: center;
  figure{
    padding: 2px;
  }
}
.billboard-discription{
   margin: 60px 0;
   h2{
     font-size: 32px;
     margin-bottom: 20px;
     margin-left: -12px;
     text-transform: capitalize;
   }
   p{
     font-size: 22px;
     line-height: 1.5;
     padding: 0 30px;
     color: #808D99;
     margin-bottom: 38px;
   }
 }
.billboard-bg{
    position: absolute;
    top: 5px;
    left: -145px;
    z-index: -2;
    background-color: #ffffff;
    transform: rotate(61deg);
    height: 1200px;
    width: 920px;
    border-radius: 110px;
  }
.pink-btn{
  font-size: 15px;
  padding: 18px 65px;
  background-color: #fe52c0;
  color: #ffffff;
  text-transform: capitalize;
  box-shadow: 0 0 5px #fe52c0;
}
.main-content{
  display: flex;
  flex-wrap: wrap;
  margin: 555px 100px 220px 100px;
  figure{
    width: 580px;
    padding-top: 25px;
    padding-left: 28px;
  }
  .detials{
    width:518px;
    padding-left: 112px;
    h2{
      text-transform: capitalize;
      letter-spacing: 0.4px;
      margin-bottom: 12px;
    }
    .discription{
      margin-bottom: 45px;
    }
  }
}
.trial-section{
  text-align: center;
  padding: 105px;
  margin: 0 320px;
  background-color: #ffffff;
  h2, a{
    text-transform: capitalize;
  }
  h2{
    font-size: 40px;
    font-weight: 600;
  }
  p{
    font-size: 20px;
    margin: 12px 0 60px;
  }
}
//footer starts
footer{
  margin-top: 265px;
}